.main {
  margin-top: 25px;
  margin-bottom: 25px;
}

body {
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
