.time {
  font-size: 20px;

  margin-top: 15px;
}

.name {
  font-size: 28px;

  margin-top: 15px;
}

.img__responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.img__responsive img {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
